<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.sher1234.service">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Location Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Storage Permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:label="@string/app_name"
        android:name=".AppController"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:ignore="GoogleAppIndexingWarning">

        <service android:name=".service.LocationTrack" />

        <activity
            android:name=".ui.a.Splash"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.g.Profile"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.b.Board"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.c.CallList"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.f.Privileges"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.e.EmployeeList"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.h.EmployeeBoard"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.i.Show"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.d.AddCall"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.d.AllotCall"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.j.AddVisit"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.j.StartVisit"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.j.EndVisit"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.d.EditCall"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.j.EditVisit"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/app_name"
            android:name=".ui.j.SignVisit"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>